@font-face {
    font-family: Bali Jelih;
    src:url('Bali Jelih std.eot');
	src:url('Bali Jelih std.eot?#iefix') format('embedded-opentype'),
	url('Bali Jelih std.woff') format('woff'),
	url('Bali Jelih std.ttf') format('truetype'),
	url('Bali Jelih std.svg#bali_simbar-bregular') format('svg');
    }

.bali {
    font-family: Bali Jelih;
}
.number,.alpha {
	height: 35px;
	width: 8.8%;
	font-size: normal;
    border-radius: 1px;
    font-family: Bali Jelih;
	}
.alpha:hover {
    background-color: rgb(12, 245, 101);
    color:white ;
}

.alpha:active {
    background-color: grey;
    color: #000000;
}
.special:hover{
    background-color: grey;
    color:white ;
}

.special:active {
    background-color: grey;
    color: #000000;
}
.number:hover{
    background-color: grey;
    color:white ;
}

.number:active {
    background-color: grey;
    color: #000000;
}
.delete:hover{
    background-color: orange;
    color:white ;
}

.delete:active {
    background-color: red;
    color: #000000;
}
.ultra{
    height: 35px;
	width: 8.8%;
	font-size: normal;
    border-radius: 1px;
}
.ultra:active {
    background-color: black;
    colorr:white
}
.ultra:hover{
    background-color:black;
    color:white ;
}
.ultra:visited {
    background-color: black;
    colorr:white
}
